{% extends 'base.html.twig' %}

{% block title %}Películas{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Listado de películas</h1>

        <div class="row">
            {% for movie in movie_list %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">

                        {% if movie.posterUrl %}
                            <img src="{{ movie.posterUrl }}" class="card-img-top" alt="{{ movie.title }}">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>

                            <a href="{{ path('app_movie_show', { id: movie.id }) }}"
                               class="btn btn-primary">
                                Ver detalles
                            </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
